.App {
  text-align: center;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


#main{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto; 

  background-color: gainsboro;
  -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
  box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);

}


#maincontainer{
  border: 1px solid gainsboro;
  border-radius: 5px;
  height: auto;
  width: 90%;
padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

.announcement{
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 100%;
margin-top: 20px;
margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  font-size: 1.5em;
  -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
  box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);


}

.callout{
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 30%;
margin-top: 20px;
margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  background-color: white;

  -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
  box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);

  grid-template-columns: 1fr;
 grid-template-rows: 1fr 2fr 1fr;

 background-image: linear-gradient(gainsboro, white, white, gainsboro );
}




.divider{
  height:100px;
 
 }

 .callout-top{
  grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    color: white;
    padding-top: 1%;
    padding-bottom: 10%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2f4f4f+1,4a5f60+55,5e696b+100 */
background: #2f4f4f; /* Old browsers */
background: -moz-linear-gradient(top,  #2f4f4f 1%, #4a5f60 55%, #5e696b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2f4f4f 1%,#4a5f60 55%,#5e696b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2f4f4f 1%,#4a5f60 55%,#5e696b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4f4f', endColorstr='#5e696b',GradientType=0 ); /* IE6-9 */
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1fr;
 }

 .whistle{
   background-image: url("./assets/whistle.png");
   background-repeat: no-repeat;
background-position: center;
   grid-column-start: 1;
  grid-column-end: 2;

 }
 .callout-title{
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 1.5em;

 }
 .callout-body{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 2em;



 }
 .callout-footer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  text-align: center;
 
 }

.callout-footer * {
  text-decoration: none;
  font-size: 1.5em;
  color: blue;
}

.callout-footer *:hover{
  color: cadetblue;
}

#notice{
  width: 80%;
font-size: 1.5em;
font-weight: bold;
margin-left: auto;
margin-right: auto;

}
#mainHeader{
  width: 100%;
font-size: 1.5em;
font-weight: bold;
text-align: center;
}
#welcome-top{
width: 80%;
font-size: 1.5em;
font-weight: bold;
margin-left: auto;
margin-right: auto;

margin-bottom: 50px;
}

.hidden{
  display: none;
}

#mainCallout{
  width:50%;
  }
  #calloutTop{
    padding-bottom: 8%;
  }
  #calloutTop h2{
  font-size: 2em;
  
  }
#mainWhistle{
  background-image: url("./assets/mainWhistle.png");
padding-bottom: 50px;
}  

#callout-container{
display: inline-block;
width: 100%;
}
.left{
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}