#adminAddTeam{
    text-align: center;
    width: 20%;
    height: 15em;
    margin-bottom: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid darkslategray;
   }

#saveTeamButton{
    height: 3em;
    width: 5em;
    margin: auto;
}

#teamFormTop{
    margin-bottom: 3%;
}