#profileContainer{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
  
    background-color: gainsboro;
    -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
    box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);
  
  }

#userInfoForm{
  margin-top: 1%;
  padding-top: 0%;
}

  #profileBody{
      width: 100%;
      background-color: white;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
      grid-template-rows: 1fr 3fr;
      
   
  }

  #profileHeader{
      width: 100%;
      max-height: 40%;
      text-align: left;
padding-top: 2em;
padding-bottom: 1em;

      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
      display: grid;
      grid-template-columns: 18% 42% 40%;
      grid-template-rows: 1fr 1fr 6fr;
     
  }

  #userWelcome{
      padding-left: 40%;
      padding-top: 8%;
      padding-bottom: 1%;
      text-align: left;
      align-content: left;
      font-size: 2em;
      font-weight: bold;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      padding-top: 1em;
      height: 3em;
      
      border-bottom: solid 3px darkslategray;
  }
  #userName{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
height: 3em;
   text-align: left;
   padding-top: 1em;
    font-size: 2em;
    font-weight: bold;

  border-bottom: solid 3px darkslategray;
  }
#row2{
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 2em;

}
#row3{
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 1em;
   
  
}

#cityLeagueHeader{
  grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4; 
      height: 20em;
    
    margin-left: 30%;
   
      background-repeat: no-repeat;
      background-image: url('../../assets/citySeal.png');
     
}

  #myTeamText{
    
    padding-left: 2%;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
   padding-right: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  



  }


  #myTeamName{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-content: left;

    text-align: left;
  
    font-size: 2em;
    font-weight: bold;

  }
 
  

  #leftContent{
  
      height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

  }

  #rightContent{

    height: auto;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;



  }

#playerSectionHeader{
 
  width: 50%;
  border-bottom: 3px solid darkslategray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  height: 5.5em;
}

#playerSectionTitle{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

}
#btnContainer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
display: flex;

  
}




#playerAddBtn{
  width: 6em;
  height: 3em;  
  margin-left: 0px;
 
  

}


  .profileFormLabels{
      font-size: 1.5em;
      font-weight: bold;
      float: left;
  }
  .profileFormResult{
      margin-left: 15%;
      font-size: 1.5em;
  }
  .profileSectionLabel{
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 1em;
      margin-top: 1em;
  }
  
  .profileInput{
    padding: .4em;
   
    background-color: antiquewhite;
}


#playerSection{
      margin-top: 6em;
      margin-bottom: 6em;
  }

  #playersContainer{
    height: auto;
    width: 100%;
  display: flex;
  }

#playerContainer{
  width: 35%;
  padding-left: 4%;
  margin-top: 5%;
  margin-left: 3%;
  height: 30em;
  -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
  box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);
}

.playerFormResult{
  
  margin-left: 45%;
   font-size: 1.5em;
}
#myTeamLogo{
  padding-top: 5%;
  margin-left: 3em;
  margin-top: 3em;
  height: 10em;
    width:10em;
    border: solid 3px darkslategray;
  border-radius: 150px;
  -webkit-box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58); 
  box-shadow: -1px 12px 22px 1px rgba(0,0,0,0.58);

}
#teamLogo{
  height: 10em;
  width:10em;
  
  background-repeat: no-repeat;
  background-image: url('../../assets/vikings.png');
 
}


  #paySection{

  }