#playeegistration{
    width: 25%;
    margin:auto;
    border-radius: 6px;
    background-color: white;
   margin-top: 5%;
   margin-bottom: 5%;
   display: grid;
   grid-template-columns: 1fr;
grid-template-rows: 1fr 8fr;
}
.foop{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkslategray;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    border-radius:  6px 6px 0 0;
   
}
#playerRstrationBody{
  text-align: center;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
#playForm{
   
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;    
    padding-left: 6em;
    margin-top: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}


.playnput{
  padding: .4em;
margin-right: 50%;
  background-color: antiquewhite;
}
.spe{
    
    margin-top: 1em;
    margin-bottom: 1em;
   height:  .1em;
}
#numPlayersText{
   padding-top: 1em;
   margin-right: 34%;
}

#payForm{
  width: 40%;
  margin:auto;
  border-radius: 6px;
  background-color: white;
 margin-top: 5%;
 padding-bottom: 5%;

 /* display: grid;
 grid-template-columns: 1fr;
grid-template-rows: 1fr 8fr; */
}



.payerInput{
  padding: .4em;
margin-right: 5%;
  background-color: antiquewhite;
}

#payButton{
  margin-left: 38%;
  
}