
#unAssignedPlayers{
    height: auto;
    width: 100%;
}


#playerAdd{
    
    width: 100%;
    height: auto;
}
#addPlayersList{
    background-color: white;
    border: 0px solid darkslategray;
    width: 100%;
    height: 15em;
    overflow: scroll;
}
#playerRemoveBtn{
    width: 6em;
}
#unAssignedPlayers{
    width: 100%;

}
#playerTable{
    width: 100%;
}
#assignedPlayerTable{
    width: 100%;
}