@import "../variables";

#adminAddTeam {
  background-color: white;
  border: 2px solid $main-color;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding-bottom: 2%;
}
.team-form-input {
  width: 50%;
  height: 2em;
  font-weight: bold;
}
#teamFormTop {
  margin-bottom: 2%;
}
#teamSelectContainter {
  width: 17em;
  margin: auto;
}
