#playerFormBody{
    width: 80%;
    margin: auto;
    
   }
  
   #playerForm{
    h6{
        margin-left: 20%;
    }
}


.player-form-input{
    margin-left: 20%;
}

#playerUpdateButton{
    margin-left: 10%;
}