

#playerContainer{
  height: 28em;
}
#payForm{
  width: 40%;
  margin:auto;
  border-radius: 6px;
  background-color: white;
 margin-top: 5%;
 padding-bottom: 5%;

 /* display: grid;
 grid-template-columns: 1fr;
grid-template-rows: 1fr 8fr; */
}



.payerInput{
  padding: .4em;
margin-right: 5%;
  background-color: antiquewhite;
}

#payButton{
  margin-left: 38%;
  
}

#playerEditBtn{
  width: 9em;
  height: 3em;  
  margin-left: 70px;
  float: left;
}